* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgba(106, 39, 112, 0.95), rgba(63, 94, 251, 0.95), rgba(106, 39, 112, 0.95)), url(../images/songEl.png);
  background-size: auto;
  background-repeat: repeat;
  min-height: 100vh;
}

.page-login {
  width: 20rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-login .logo {
  width: 14rem;
}
.page-login .login-form {
  margin-top: -6rem;
  border-radius: 0.3rem;
  box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.3);
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.3));
  width: 100%;
  height: 10rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 0rem;
}
.page-login .login-form input {
  padding: 0.6rem 0.8rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  margin: 2rem;
}
.page-login .login-form button {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: rgb(63, 94, 251);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 0.3rem;
}

.header-component {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.199), rgba(0, 0, 0, 0.7));
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 10%;
}
.header-component .copy {
  font-size: 12px;
  font-weight: 300;
}
.header-component p {
  color: rgb(206, 206, 252);
  font-weight: 600;
  font-size: 1.3rem;
}
.header-component .menu {
  display: flex;
  list-style-type: none;
  gap: 3rem;
}
.header-component .menu .menu-link {
  color: rgb(206, 206, 252);
  text-decoration: none;
}
.header-component .menu .menu-link:hover {
  color: rgb(231, 239, 255);
}

.page-search {
  border-radius: 0.6rem;
  width: 80%;
  margin: 3rem auto;
  padding: 3rem;
  background: linear-gradient(35deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.3));
}
.page-search form {
  background-color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  padding: 0.2rem;
  width: 60%;
  margin: auto;
  display: flex;
}
.page-search form input {
  background-color: rgb(210, 210, 255);
  flex-basis: 90%;
  padding: 0.7rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  color: rgb(31, 42, 65);
  font-size: 1rem;
}
.page-search form button {
  cursor: pointer;
  border: none;
  flex-basis: 10%;
  color: rgb(142, 142, 255);
  font-weight: 600;
}
.page-search .content .title-search {
  color: rgb(231, 239, 255);
  font-size: 1.3rem;
  margin: 4rem 0rem 0rem 6rem;
}
.page-search .content .albums {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
.page-search .content .albums .album-card {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 13rem;
  height: 15rem;
  background: linear-gradient(rgba(231, 239, 255, 0), rgba(210, 226, 255, 0.3));
  border-radius: 0.3rem;
  border-top-left-radius: 50%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
.page-search .content .albums .album-card:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.2);
}
.page-search .content .albums .album-card img {
  border-radius: 1rem;
  border-top-left-radius: 50%;
  box-shadow: 0.5rem 0.5rem 4px rgba(0, 0, 0, 0.2);
  width: 45%;
  display: flex;
  margin: 2rem auto 0rem auto;
}
.page-search .content .albums .album-card .track-info {
  margin-top: 0.8rem;
  width: 100%;
  padding: 0 1rem;
  font-size: 12px;
  justify-content: space-between;
}
.page-search .content .albums .album-card .track-info .link-to {
  transition: 0.2s;
  color: rgb(244, 244, 253);
  text-align: center;
  text-decoration: none;
}
.page-search .content .albums .album-card .track-info .link-to:hover {
  color: rgb(215, 223, 255);
}
.page-search .content .albums .album-card .track-info .link-to h3 {
  font-weight: 500;
  max-height: 2rem;
  overflow: hidden;
}
.page-search .content .albums .album-card .track-info p {
  align-self: flex-end;
  max-height: 1.5rem;
  overflow: hidden;
  margin: 0.5rem;
  color: rgb(218, 218, 253);
}

.page-album .album-content {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(7, 22, 66, 0.7));
  display: flex;
  border-radius: 1rem;
  width: 70%;
  margin: 3rem auto;
  padding: 3rem;
}
.page-album .album-content .collection-info {
  border-right: 3px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(244, 244, 253);
  margin: 2rem auto;
  flex-basis: 40%;
}
.page-album .album-content .collection-info .loading {
  margin: auto;
}
.page-album .album-content .collection-info img {
  width: 8rem;
  margin: 2rem auto;
  border: 2px solid white;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 4px rgba(0, 0, 0, 0.2);
}
.page-album .album-content .collection-info h2 {
  margin-bottom: 1rem;
  font-size: 1rem;
}
.page-album .album-content .collection-tracks {
  flex-basis: 60%;
  max-height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.page-album .album-content .collection-tracks .track-card {
  margin-bottom: 2rem;
}
.page-album .album-content .collection-tracks .music-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.page-album .album-content .collection-tracks .music-card-header h3 {
  color: rgb(244, 244, 253);
  font-size: 0.9rem;
  font-weight: 500;
}
.page-album .album-content .collection-tracks .music-card-header label {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: rgb(234, 247, 255);
}
.page-album .album-content .collection-tracks .music-card-header label input {
  margin: 0.5rem;
}
.page-album .album-content .collection-tracks audio::-webkit-media-controls-panel {
  background: linear-gradient(to right, rgb(138, 169, 255), rgb(228, 228, 255));
  height: 2.5rem;
}
.page-album .album-content .collection-tracks audio {
  height: 2.5rem;
  margin: 0 4rem;
  width: 80%;
}
.page-album .album-content .collection-tracks::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.6);
  width: 0.7rem;
  border-radius: 0.3rem;
}
.page-album .album-content .collection-tracks::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(109, 49, 206, 0.7);
}

.loading {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  font-size: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(106, 39, 112) 100%);
  z-index: 99;
}
.loading .loading-frame {
  -webkit-animation: loadinganimate 1s infinite;
          animation: loadinganimate 1s infinite;
  justify-content: center;
  border: 4px solid white;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  color: transparent;
}

@-webkit-keyframes loadinganimate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes loadinganimate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.collection-tracks::-webkit-scrollbar {
  display: none;
}

.collection-tracks {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  border-radius: 1rem;
  width: 80%;
  margin: 3rem auto;
  padding: 3rem;
  height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}
.collection-tracks .music-card-header {
  color: rgb(234, 241, 255);
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
  padding: 0.5rem 1.5rem;
  padding-left: 4rem;
  margin: 0.5rem;
  font-size: 14px;
  border-radius: 2rem;
}
.collection-tracks .music-card-header label {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-basis: 20%;
}
.collection-tracks .music-card-header h3 {
  flex-basis: 80%;
}
.collection-tracks .song {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 5px dotted rgba(208, 217, 255, 0.15);
  padding: 1rem;
}
.collection-tracks .song img {
  border-radius: 50%;
  width: 3.5rem;
}
.collection-tracks .song audio {
  width: 80%;
  height: 2rem;
}

.page-profile {
  padding: 2rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  border-radius: 1rem;
  width: 50%;
  margin: 15vh auto;
  height: 40vh;
  display: flex;
}
.page-profile .profile-left {
  border-right: 5px dotted rgba(255, 255, 255, 0.2);
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-profile .profile-left img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 3px solid rgb(232, 238, 253);
  box-shadow: 6px 6px 3px rgba(32, 66, 153, 0.788);
}
.page-profile .profile-left .profile-header {
  text-align: center;
}
.page-profile .profile-left .profile-header h3 {
  margin: 1rem;
  color: rgb(225, 233, 255);
}
.page-profile .profile-left .profile-header .edit-button {
  background-color: rgb(236, 242, 255);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  text-decoration: none;
  color: rgb(95, 95, 236);
  font-size: 0.8rem;
  font-weight: 500;
}
.page-profile .profile-right {
  padding: 3rem;
  flex-basis: 50%;
}
.page-profile .profile-right label {
  font-weight: 600;
  color: rgb(225, 233, 255);
}
.page-profile .profile-right label p {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 1.5rem;
  font-weight: 400;
  color: rgb(202, 216, 255);
}

.page-profile-edit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10vh auto;
  padding: 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3));
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
}
.page-profile-edit form {
  display: flex;
  flex-direction: column;
}
.page-profile-edit form label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(228, 235, 255);
}
.page-profile-edit input, .page-profile-edit textarea {
  background-color: rgb(31, 31, 73);
  width: 16rem;
  margin: 1rem;
  font-size: 13px;
  box-sizing: border-box;
  padding: 0.6rem 1rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  color: rgb(218, 218, 255);
  font-weight: 500;
  resize: none;
}
.page-profile-edit button {
  width: 50%;
  margin: auto;
  padding: 0.6rem 1rem;
  border: none;
  background: rgb(99, 99, 230);
  color: white;
  font-weight: 500;
  border-radius: 0.2rem;
}
.page-profile-edit button:disabled {
  opacity: 0.3;
}
.page-profile-edit .edit-photo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
}
.page-profile-edit img {
  border: 2px solid rgb(237, 240, 255);
  width: 8rem;
  border-radius: 50%;
  height: 8rem;
}/*# sourceMappingURL=global.css.map */